* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif; /* 400 & 700 */
}

body {
    font-size: 16px;
}

:root {
    --primary-orange: hsl(26, 100%, 55%);
    --primary-orange-pale: hsl(25, 100%, 94%);
    --neutral-very-dark-blue: hsl(220, 13%, 13%);
    --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
    --neutral-grayish-blue: hsl(220, 14%, 75%);
    --neutral-light-grayish-blue: hsl(223, 64%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */
}

button:hover {
    cursor: pointer;
}

.nav {
    list-style-type: none;
}

.nav-item {
    display: inline-block;
}

.slides-container {
    background-color: red;
}

.image-container {
    height: 300px;
}

.img-product {
    width: 100vw;
    height: inherit;
    object-fit: cover;
}

.content-section {
    padding: 1.2rem;
}

h1 {
    color: var(--primary-orange);
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.95rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.description {
    color: var(--neutral-very-dark-blue);
    font-weight: 400;
    line-height: 1.5rem;
}

.price-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}

.price-item-1 {
    grid-column: 1 / 2;
}

.price-item-2 {
    grid-column: 2 / span 6;
}

.price-item-3 {
    grid-column: 8 / 9;
} 

h3 {
    font-size: 1.8rem; 
}

.discount {
    font-weight: 700;
    color: var(--primary-orange);
    background-color: var(--primary-orange-pale);
    margin: auto 0;
    width: 2.6rem;
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
}

.initial-price {
    font-weight: 700;
    color: var(--neutral-grayish-blue);
    text-decoration: line-through;
    text-align: right;
    margin: auto 0;
}

.btn-add-to-card {
    background-color: var(--primary-orange);
    border: none;
    color: var(--neutral-white);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }